allure-docker-java-testng-example/target
allure-docker-java-testng-example/allure-results
allure-docker-java-testng-example/allure-reports
allure-docker-java-testng-example/.idea/*
allure-docker-java-testng-example/*.iml
allure-docker-java-junit4-example/target
allure-docker-java-junit4-example/allure-results
allure-docker-java-junit4-example/allure-reports
allure-docker-java-junit4-example/.idea/*
allure-docker-java-junit4-example/*.iml
allure-docker-java-cucumber-jvm-example/target
allure-docker-java-cucumber-jvm-example/allure-results
allure-docker-java-cucumber-jvm-example/allure-reports
allure-docker-java-cucumber-jvm-example/.idea/*
allure-docker-java-cucumber-jvm-example/*.iml
allure-docker-nodejs-cucumber-example/node_modules
allure-docker-nodejs-cucumber-example/package-lock.json
allure-docker-nodejs-cucumber-example/cucumber_report.json
allure-docker-nodejs-cucumber-example/allure-results
allure-docker-nodejs-cucumber-example/allure-reports
allure-docker-nodejs-typescript-cucumber-example/dist
allure-docker-nodejs-typescript-cucumber-example/node_modules
allure-docker-nodejs-typescript-cucumber-example/package-lock.json
allure-docker-nodejs-typescript-cucumber-example/cucumber_report.json
allure-docker-nodejs-typescript-cucumber-example/allure-results
allure-docker-nodejs-typescript-cucumber-example/allure-reports
allure-docker-nodejs-typescript-mocha-example/dist
allure-docker-nodejs-typescript-mocha-example/node_modules
allure-docker-nodejs-typescript-mocha-example/package-lock.json
allure-docker-nodejs-typescript-mocha-example/allure-results
allure-docker-nodejs-typescript-mocha-example/allure-reports
allure-docker-python-behave-example/allure-results
allure-docker-python-behave-example/allure-reports
allure-docker-python-pytest-example/allure-results
allure-docker-python-pytest-example/allure-reports
allure-docker-python-pytest-example/.pytest_cache
allure-docker-python-pytest-example/tests/__pycache__
AllureDockerCSharpExample/allure-results
AllureDockerCSharpExample/allure-reports
AllureDockerCSharpExample/.vs
AllureDockerCSharpExample/packages
AllureDockerCSharpExample/AllureDockerCSharpExample/bin
AllureDockerCSharpExample/AllureDockerCSharpExample/obj
allure-docker-multi-project-example/projects/*
allure-docker-kubernetes-example/tls.crt
allure-docker-kubernetes-example/tls.key
allure-docker-api/static/swagger/swagger_security.json
allure-docker-api/static/ui
.data/
/.idea/
/Dockerfile
