[MASTER]
disable=
    missing-module-docstring,
    missing-function-docstring,
    broad-except,
    raise-missing-from,
    consider-using-f-string,
    consider-using-with,
    unspecified-encoding,
    redefined-outer-name
